---
layout: main
---
{% if paginator.page == 1 %}
<div class="somos">
  <div class="trimex_flex">
    <div class="logo2">
      <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.logo %}{{site.logo}}{% endif %}" alt="{{site.trimex}}"></a>
    </div>
    <img class="trimex" src="{{ '/assets/img/logo_trimex.svg' | prepend: site.baseurl }}" data-anchor-id="1" data-placement="bottom-top"></img>
  </div>
  <div class="somos_txt">
    Somos druidas digitales.<br>
    Invocamos la luz, la imagen, el sonido y el tiempo.<br>
    Generamos interacción con la tecnología.<br>

  </div>
  <span class="mas_abajo">
    Más abajo puedes conocer las concecuencias de nuestros actos.
    <div class="chevron"></div>
  </span>
</div>
<span id="recientes">Recientes</span>
<div id="ig"  data-anchor-id="2" data-placement="top-top"></div>
<div id="ig_post">
</div>
<span id="proyectos">Proyectos</span>
{% endif %}
<div class="posts">

  {% for post in paginator.posts %}

    <div class="ig_grid_post" >
      <a href="{{post.url | prepend: site.baseurl}}">
        <img src={% include post_img.html post=post %} onclick="window.location='{{post.url | prepend: site.baseurl}}';" />
      </a>
    </div>
  {% endfor %}
</div>

{% include pagination.html %}
{% if paginator.page == 1 %}
<script src="https://api.instagram.com/v1/users/self/media/recent?access_token=529774806.22bb494.d445d962758b49beb8e59da206354fa4&callback=igCallback&count=18&omitscript=true"></script>
{% endif %}
<footer class="footer_moviles">
{% include footer.html %}
</footer>
