---
layout: main
---
<div class="somos">
  Somos TRIMEX.<br>
  Druidas digitales.<br>
  Invocamos la luz, la imagen, el sonido.<br>
  Generamos interacción con la tecnología.<br>
  Traemos el futuro al presente.<br>
  Preparamos nuestras propias pócimas con algo de magia negra digital.<br>
  <br>
  <span class="mas_abajo">
    Más abajo puedes conocer las concecuencias de nuestros actos.
  </span>
</div>
{% for post in site.posts %}
<!-- <a class="post-thumbnail"  href="{{post.url | prepend: site.baseurl}}"></a> -->
<article class="post" style="background-image: url({% include post_img.html post=post %}); cursor: pointer;"
  onclick="window.location='{{post.url | prepend: site.baseurl}}';">
  <!-- <a href="{{post.url | prepend: site.baseurl}}" style="width: 100%; height:100%"> -->
  <div class="post-content">
    <!-- <h2 class="post-title"> -->
      <a class="post-title" href="{{post.url | prepend: site.baseurl}}">
        {{post.title}}
      </a>
    <!-- </h2> -->

    <!-- {% comment %} -->

    <!-- {% endcomment %} -->
    <span class="post-date">

    {{ post.date | date: "[%Y]" }}
    </span>

    {% comment %}
    <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
    {% endcomment %}
    {% comment %}
    <span class="post-date">

    {% include fecha.html post=post %}
    </span>
    {% endcomment %}

    <!-- <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span> -->
  </div>
</article>

{% endfor %}

<!-- {% include pagination.html %} -->
