---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="logo">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.logo %}{{site.logo}}{% endif %}" alt="{{site.trimex}}"></a>
      </div>
      <div
      {% if paginator.page == 1 %}
       data-id="1" data-aos="fade-up" data-aos-anchor="[data-anchor-id='1']" data-aos-anchor-placement="bottom-top"
      {% endif %}
      class="trimex_chico" style="background-image: url({{ '/assets/img/logo_trimex.svg' | prepend: site.baseurl }})" ></div>

    </div>
  </header> <!-- End Header -->
  {% include footer.html %}
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
  
</div>
