---
layout: main
---
<article class="article-page">
  <div class="page-content">
    {% include post_video.html post=page %}
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        <div class="page-date"><span>{% include fecha.html post=page %}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
      </header>
      {{content | markdownify}}
      {% if page.flickrset %}
        {% include gallery.html flickr_set=page.flickrset %}
      {% endif %}
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
