.ig_grid_line{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}
.ig_grid_post{
  width: 33.3%;
  height:100%;
  cursor: pointer;
  position: relative;
  display: inline-block;
  img{
    left: 0;
    top: 0;
    width: 100%;
  }
}
 #ig{
   width:100%;
   margin: 0px auto;
   display: flex;
   flex-direction: column;
 }

#ig_post{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index:100;
}
#ig_post_in{
  max-width: 658px;
  max-height: 658px;
  width: calc(100% - 2px);
  height:  calc(100% - 2px);
  // min-width: 300px;
  // min-height: 300px;
  display: block;
  margin: 0px 0px 12px;
  background-color: #000;
}
#ig_nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
