.ig_grid_line{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}
.ig_grid_post{
  width: 33.3%;
  height: auto;
  cursor: pointer;
  position: relative;
  display: inline-block;
  img{
    left: 0;
    top: 0;
    width: 100%;
  }
  transition: transform 0.20s;
  &:hover {
    transform: scale3d(0.97,0.97,1);
  }
}
 #ig{
   width:100%;
   margin: 0px auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
 }
#ig_post_close_btn{
  padding-top: 5px;
  padding-left: 5px;
  margin-top: 10px;

  margin-bottom: 10px;
}

.ig_boton_nav{
     opacity: 0.4;
     transition: opacity .25s ease-in-out;
     &:hover {
       cursor: pointer;
        opacity: 1;
    }
}

.ig_link{
  font-weight: 900;
}
#ig_post_lightbox{
  width: 100%;
  height: auto;
}
#ig_post{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.7);
  display: none;

  justify-content: center;
  align-items: center;
  z-index:100;
  overflow: auto;
}
#ig_post_in{
  max-width: 658px;
  // max-height: 658px;
  // width: calc(100% - 2px);
  height:  calc(100% - 2px);
  // min-width: 300px;
  // min-height: 300px;
  display: block;
  margin: 0px 0px 12px;
  background-color: #000;
}
#ig_nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#ig_post_caption{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
  a{
    text-decoration: none;
    font-weight: bold;
  }
}
#ig_nav_next, #ig_nav_prev{
  padding-top: 10px;
}
