$body-color: #f0f0f0;
$background: #000000;
$white: #ffffff;
$lightgray: #fafafa;
$gray: #ecf0f1;
$dark-gray: #050505;
$dark-blue: #263959;
$dark: #333030;
$sidebar-size: 240px;
$sidebar-padding: 10px;
$post_max_width: 900px;
$post_max_height: 506px;
